<h1>Labworks</h1>
<% flash.each do |msg| %>
    <%= msg %>
<% end %>

<h1><%=link_to 'Create labwork', new_labwork_path %></h1>
<%@labworks.each do |l|o %>
    <h2>Title<br>
<%=l.title %></h2>

    <h2>Description</h2>
    <%=l.description %>
    <h2>Grade<br>
    <%=l.grade%></h2>
    <h2>Autor's email: <%=l.user%></h2>
    <%=link_to 'Show labwork', labwork_path(l) %>
    <%=link_to 'Grade labwork', mark_labwork_path(l) %>
    <%=link_to 'Edit labwork', edit_labwork_path(l) %>
    <%=link_to 'Delete labwork', labwork_path(l), method: :delete, data: {confirm: 'Are you sure?'} %>

<%end %>